*
*::after
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* global font size by default is 16px and can be changed in html tag */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 1;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 1;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 1.5rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 1.6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 3.5rem;
    animation-name: moveFromLeft;
    animation-duration: 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    animation-name: moveFromRight;
    animation-duration: 1s; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.4s; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: moveFromBottom 0.5s ease-out 0.50s;
  /* this is shorthand notation for animation*/
  animation-fill-mode: backwards;
  /*this allows to provide 0% properties to btn before animation so the button is not visible before enimation*/ }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, #3fd32594, #3cdd207c), url("../../Natours/starter/img/hero.jpg");
  background-size: cover;
  background-position: top center;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 5rem;
    left: 5rem; }
  .header__logo {
    height: 3.5rem;
    width: 6.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
