.header {
    height: 95vh;
    background-image: linear-gradient(to right,$color-primary,$color-primary-dark),url("../../Natours/starter/img/hero.jpg");
    background-size: cover;
    background-position: top center;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

   &__logo-box{
       position: absolute;
       top:5rem;
       left: 5rem;
   }  

   &__logo{
       height: 3.5rem;
       width: 6.5rem;
   }

   &__text-box{
       position: absolute;
       top: 40%;
       left: 50%;
       transform: translate(-50%,-50%);
       text-align: center;
   }
}
